* {
	margin: 0;
	padding: 0;
}
.annotatedSegment {
	border-width: 0px 0px 1px 5px; /* top right bottom left */
	border-color: #ffa79c50;
	border-style: solid;
	border-radius: 5px;
	position: relative;
}
.annotatedSegment pre:not(.annotation) code {
	padding-top: 0;
	padding-bottom: 0;
}
.annotatedSegment .annotation {
	position: absolute;
    right: 0;
    top: 0;
    opacity: 0.3;
	border-width: 0px 2px 2px 2px;
    border-style: inherit;
    border-radius: inherit;
	border-color: inherit;
    transition: all 0.3s ease-in-out;
}
.annotatedSegment .annotation code {
	padding-top: 0;
	transition: inherit;
}
.annotatedSegment:hover {
	border-width: 1px 0 1px 5px;
	border-color: #ff644f;
}
.annotatedSegment:hover .annotation {
	opacity: 1;
	z-index: 999;
	padding-top: 1em;
}
.annotatedSegment:hover .annotation:hover {
	opacity: 0.2;
}